.dashboard {
  height: 100%;
  padding: 2rem;
}

.dashboard h1 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.dashboard h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--emerald-700);
}

.allRoomsContainer {
  margin-bottom: 2rem;
}

.allRooms {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.roomCard {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7rem;
  /* flex-grow: 1; */
  gap: 1rem;
  border: 2px solid var(--gray-200);
  background-color: var(--gray-50);
  border-radius: 0.5rem;
}

.roomCardDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.roomIcon {
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--sky-100);
  color: var(--sky-600);
}

.roomCard a {
  text-decoration: none;
  color: var(--gray-600);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.9rem;
}

.roomCard a:hover {
  color: var(--emerald-700);
}

.roomCard a svg {
  font-size: 1rem;
}

.userBookings {
  padding: 1rem;
}

.singleBooking {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin-bottom: 2rem;
}

.singleBooking h5 {
  font-size: 1rem;
}

.bookingSlots {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.bookingSingleSlot {
  padding: 0.5rem;
  border: 1px solid var(--gray-600);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.slotBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--emerald-50);
  border: none;
  padding: 0.25rem;
  border-radius: 50%;
  color: var(--emerald-600);
  text-decoration: none;
}

.slotBtn:hover {
  background-color: var(--emerald-600);
  color: var(--emerald-50);
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0.25rem;
  border-radius: 50%;
  color: var(--rose-700);
  background-color: var(--rose-50);
}

.delete:hover {
  color: var(--rose-50);
  background-color: var(--rose-700);
}

@media (max-width: 600px) {
  .allRooms {
    align-items: center;
    justify-content: center;
  }
}
