.header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
}

.logout {
  cursor: pointer;
  font-size: 1.6rem;
}
